@{
    ViewBag.Title = "AngularJS Event Calendar";
}



<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>
<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">

<div ng-app="main" ng-controller="DemoCtrl">
    <div style="float:left; width: 160px">
        <daypilot-navigator id="navi" daypilot-config="navigatorConfig"></daypilot-navigator>
    </div>
    <div style="margin-left: 160px">
        <div class="space">
            <button ng-click="showDay()">Day</button>
            <button ng-click="showWeek()">Week</button>
        </div>
        <daypilot-calendar id="day" daypilot-config="dayConfig" daypilot-events="events"></daypilot-calendar>
        <daypilot-calendar id="week" daypilot-config="weekConfig" daypilot-events="events"></daypilot-calendar>
    </div>

</div>

<script>
    var app = angular.module('main', ['daypilot', 'ui.bootstrap']).controller('DemoCtrl', function ($scope, $timeout, $http, $dialog) {
        $scope.events = [];

        $scope.open = function (item) {
            var itemToEdit = item;                 
            $dialog.dialog(angular.extend(dialogOptions, { resolve: { item: angular.copy(itemToEdit) } }))
                .open()
                .then(function (result) {
                    if (result) {
                         var params = {
                             start: result.start,//args.start.toString(),
                             end: result.end,//args.end.toString(),
                             text: result.text
                        };

                $http.post('@Url.Action("Create", "Backend")', params).success(function (data) {
                    $scope.events.push({
                        start: result.start,
                        end: result.end,
                        text: result.text,
                        id: data.id
                    });
                });

                        angular.copy(result, itemToEdit);
                    }
                    itemToEdit = undefined;
                });
        };
        var dialogOptions = {
            controller: 'EditCtrl',
            templateUrl: 'Templates/eventEdit.html'
        };

        $scope.navigatorConfig = {
            selectMode: "day",
            showMonths: 3,
            skipMonths: 3,
            onTimeRangeSelected: function (args) {
                $scope.weekConfig.startDate = args.day;
                $scope.dayConfig.startDate = args.day;
                loadEvents();
            }
        };

        $scope.dayConfig = {
            viewType: "Day",
            onTimeRangeSelected: function (args) {
                var item = { text: "new event" };
                item.start = args.start.toString();
                item.end = args.end.toString(),
                $scope.open(item);

            },
            onEventMove: function (args) {
                var params = {
                    id: args.e.id(),
                    newStart: args.newStart.toString(),
                    newEnd: args.newEnd.toString()
                };

                $http.post('@Url.Action("Move", "Backend")', params);
            },
            onEventResize: function (args) {
                var params = {
                    id: args.e.id(),
                    newStart: args.newStart.toString(),
                    newEnd: args.newEnd.toString()
                };

                $http.post('@Url.Action("Move", "Backend")', params);
            },
            onEventClick: function (args) {
                var modal = new DayPilot.Modal({
                    onClosed: function (args) {
                        if (args.result) {  // args.result is empty when modal is closed without submitting
                            loadEvents();
                        }
                    }
                });

                modal.showUrl('@Url.Action("Edit", "Event")/' + args.e.id());
            }
        };

        $scope.weekConfig = {
            visible: false,
            viewType: "Week",
            onTimeRangeSelected: function (args) {
                var item = { text: "new event" };
                item.start = args.start.toString();
                item.end = args.end.toString(),
                    $scope.open(item);    
            },
            onEventMove: function (args) {
                var params = {
                    id: args.e.id(),
                    newStart: args.newStart.toString(),
                    newEnd: args.newEnd.toString()
                };

                $http.post('@Url.Action("Move", "Backend")', params);
            },
            onEventResize: function (args) {
                var params = {
                    id: args.e.id(),
                    newStart: args.newStart.toString(),
                    newEnd: args.newEnd.toString()
                };

                $http.post('@Url.Action("Move", "Backend")', params);
            },
            onEventClick: function (args) {
                var modal = new DayPilot.Modal({
                    onClosed: function (args) {
                        if (args.result) {  // args.result is empty when modal is closed without submitting
                            loadEvents();
                        }
                    }
                });

                modal.showUrl('@Url.Action("Edit", "Event")/' + args.e.id());
            }
        };

        $scope.showDay = function () {
            $scope.dayConfig.visible = true;
            $scope.weekConfig.visible = false;
            $scope.navigatorConfig.selectMode = "day";
        };

        $scope.showWeek = function () {
            $scope.dayConfig.visible = false;
            $scope.weekConfig.visible = true;
            $scope.navigatorConfig.selectMode = "week";
        };

        loadEvents();

        function loadEvents() {
            // using $timeout to make sure all changes are applied before reading visibleStart() and visibleEnd()
            $timeout(function () {
                var params = {
                    start: $scope.week.visibleStart().toString(),
                    end: $scope.week.visibleEnd().toString()
                }
                $http.post('@Url.Action("Events", "Backend")', params).success(function (data) {
                    $scope.events = data;
                });
            });
        }
    }).controller('EditCtrl', function ($scope, item, dialog, $timeout, $http) {
        $scope.item = item;

        $scope.save = function () {
             @*var params = {
                    start: args.start.toString(),
                    end: args.end.toString(),
                    text: "New event"
                };

                $http.post('@Url.Action("Create", "Backend")', params).success(function (data) {
                    $scope.events.push({
                        start: args.start,
                        end: args.end,
                        text: "New event",
                        id: data.id
                    });
             });*@


            dialog.close($scope.item);
        };

        $scope.close = function () {
            dialog.close(undefined);
        };
        });

</script>
